# Your Gemini API Key
GEMINI_API_KEY=

# Your MongoDB connection string
MONGO_URI=

# --- Auth0 Details ---
# From your Auth0 API settings (the "Identifier")
AUTH0_AUDIENCE=
# From your Auth0 Application settings (the "Domain")
AUTH0_ISSUER_BASE_URL=